 <mat-card>
  <mat-card-title class="title">
    <mat-icon>article</mat-icon>
    <span>Blogs</span>   
   </mat-card-title>
  <mat-card-content>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" *ngFor="let item of blobList">
          <mat-card class="mat-elevation-z4">
            <mat-card-title>
               
            </mat-card-title>
            <mat-card-content>
              <b>{{item.title}}</b>
              
              <p style="margin-top:20px">{{item.body}}</p>
            </mat-card-content>
            </mat-card>
       </div>
      </div>
     </div> 
      
  </mat-card-content>
  
 </mat-card>
 